<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อมูลวิชาโท</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- ใน <head> หรือตำแหน่งที่เหมาะสม -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand  h1 text-warning mb-0 mx-2">CMU</span>
        <button class="btn btn-outline-danger my-2 my-sm-0 mx-2" type="submit">ออกจากระบบ</button>
    </nav>
    <div class="container "  id="year_many_01">
        <div class="d-flex pt-2">
            <h5>ชื่อผู้ใช้งาน: Sarang Heyo</h5>
        </div>
        <!-- heading -->
        <div class="d-flex justify-content-center">
            <h1 >ข้อมูลวิชาโท</h1> 
        </div>
        <div class="d-flex justify-content-center">
            <h2>คณะกรรมการบริหารหลักสูตร <ins>คณะมนุษยศาสตร์ สาขาภาษาเวียดนาม</ins></h2>

        </div>
        <!-- select 2 columns -->
        
        <div class="rounded border border-dark p-4">

            <div class="row">
                <div class="col-md-6 p-0 rounded border border-dark" >
                    <div class="d-flex justify-content-center">เลือกรูปแบบวิชา</div>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="course_12" id="rc1_01" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            มีวิชาบังคับเพียงอย่างเดียว
                        </label>
                    </div>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="course_12" id="rc1_03" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            มีวิชาเลือกเพียงอย่างเดียว
                        </label>
                    </div>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="course_12" id="rc1_02" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            มีทั้งวิชาเลือกและวิชาบังคับ
                        </label>
                    </div>
                </div>
                <div class="col-md-6 p-0 rounded border border-dark" >
                    <div class="d-flex justify-content-center">เลือกปีที่หลักสูตรใช้งาน</div>
    
                    <div class="form-check ms-5 ">
                        <input class="form-check-input border border-dark" type="radio" name="year123" id="rcr_01" checked>
                        <label class="form-check-label " for="flexRadioDefault1">
                            ใช้งานสำหรับนักศึกษาทุกชั้นปี
                        </label>
                    </div>
                    <small id="emailHelp" class="form-text text-muted d-inline ms-5">* หากเลือก ตั้งแต่ปี จะมีช่องด้านล่างเพื่อใส่ข้อมูลช่วงอื่น</small>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="year123" id="rcr_02" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            ใช้งานสำหรับนักศึกษา ตั้งแต่ปี <p class="d-inline bg-secondary text-light " id="year_change_text_01">2564</p>
                        </label>
                    </div>
                    <!-- <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="year123" id="rcr_03" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            ใช้งานสำหรับนักศึกษา หลังปี <p class="d-inline bg-secondary text-light " id="year_change_text_02">2564</p>
                        </label>
                    
                    </div> -->
                    <div class="form-check ms-5">
                        <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#year-t-01" id="year_change_01">
                    เปลี่ยนปีที่หลักสูตรใช้งาน
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="year-t-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">เปลี่ยนปีที่หลักสูตรใช้งาน</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <input type="email" class="form-control d-inline" id="input_year_change_text_01" 
                                aria-describedby="emailHelp" placeholder="ใส่ปีของหลักสูตร">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="click_year_change_text_01">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    </div>
                    
                </div>
            </div>
            <!-- ---------------------วิชาบังคับ------------------------ -->
            <div class="" id="c1_01">
                <div class="form-group">
                    <label for="exampleInputEmail1" >
                        <h3>วิชาบังคับ</h3>
                    </label>
                    <br>
                    <p class="d-inline">หน่วยกิตขั้นต่ำที่ต้องผ่าน คือ </var><span id="text_required_subject_credit_01" >0</span> หน่วยกิต</p>
                    <input type="email" class="form-control d-inline" id="input_required_subject_credit_01" aria-describedby="emailHelp" 
                    placeholder="ใส่ตัวเลขเปลี่ยนแปลงหน่วยกิตที่ต้องผ่าน">
                    <small id="" class="form-text text-muted d-inline">* หน่วยกิตขั้นต่ำที่ต้องผ่านในวิชาบังคับ</small>
                <div>
                    วิชาบังคับที่เลือก มีวิชา: <span id="course_id_show"></span>
                    
                </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-b-01">
                    + เพิ่มวิชา
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-b-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาบังคับ [+ เพิ่มวิชา]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            
                            <input type="email" class="form-control d-inline" id="input_credit_b_01" aria-describedby="emailHelp" 
                            placeholder="ใส่รหัสวิชา 6 หลัก">
                            <div id="alert_course_put_b_01" class="alert alert-success" role="alert" style="display: none;">
                                คุณได้ลงทะเบียนวิชา _____ เรียบร้อยแล้ว
                            </div>
                            <div id="alert_course_put_b_01_not" class="alert alert-danger" role="alert" style="display: none;">
                                คุณได้ทำการลงทะเบียนวิชา _____ นี้แล้ว 
                            </div>
                            <div id="alert_course_put_b_02_not" class="alert alert-warning" role="alert" style="display: none;">
                                ไม่มีวิชานี้อยู่ในระบบ
                            </div>
                            <select id="courseSelect" style="display: none;">
                                <!-- รายการวิชาจะถูกเพิ่มที่นี่ -->
                            </select>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-g-01">
                    + ตามกลุ่ม
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-g-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาบังคับ [+ ตามกลุ่ม]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>ชื่อกลุ่มวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ชื่อกลุ่มวิชา">
                            <p>รหัสวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา">

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- ---------------------วิชาเลือก------------------------ -->
            <div class="" id="c1_02">
                <div class="form-group">
                    <label for="exampleInputEmail1" >
                        <h3>วิชาเลือก</h3>
                    </label>
                    <br>
                    <p class="d-inline">หน่วยกิตขั้นต่ำที่ต้องผ่าน คือ </var><span>0</span> หน่วยกิต</p>
                    <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขเปลี่ยนแปลงหน่วยกิตที่ต้องผ่าน">
                    <small id="emailHelp" class="form-text text-muted d-inline">* หน่วยกิตขั้นต่ำที่ต้องผ่านในวิชาบังคับ</small>
                </div>
                <!-- Button trigger modal -->
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-constrain-01">
                    + เงื่อนไข
                </button>
                <small  class="form-text text-muted d-inline">* เช่น หากมีเงื่อนที่นักศึกษาต้องผ่านวิชา 300 ไม่น้อยกว่า 6 หน่วยกิต</small>
                
                <!-- Modal -->
                <div class="modal fade" id="c-constrain-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาเลือก [+ เงื่อนไข]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>รหัสวิชา 3 ตัวท้าย</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขรหัสวิชา 3 ตัวท้าย">
                            <p>หน่วยกิต</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขหน่วยกิต">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <br><br>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-b-02">
                    + เพิ่มวิชา
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-b-02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาเลือก [+ เพิ่มวิชา]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา 6 หลัก">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-g-02">
                    + ตามกลุ่ม
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-g-02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาเลือก [+ ตามกลุ่ม]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>ชื่อกลุ่มวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ชื่อกลุ่มวิชา">
                            <p>รหัสวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#c-b-01">
                + เพิ่มแขนง
            </button>
        </div>
        <br>
        <!-- --------------------ก่อนปี - หลังปี--------------------- -->
        
        <div class="rounded border border-dark p-4" id="year_many_02">

            <div class="row">
                <div class="col-md-6 p-0 rounded border border-dark" >
                    <div class="d-flex justify-content-center">เลือกรูปแบบวิชา</div>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="course2_12" id="rc2_01" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            มีวิชาบังคับเพียงอย่างเดียว
                        </label>
                    </div>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="course2_12" id="rc2_03" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            มีวิชาเลือกเพียงอย่างเดียว
                        </label>
                    </div>
                    <div class="form-check ms-5">
                        <input class="form-check-input border border-dark" type="radio" name="course2_12" id="rc2_02" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            มีทั้งวิชาเลือกและวิชาบังคับ
                        </label>
                    </div>
                </div>
                <div class="col-md-6 p-0 rounded border border-dark" >

    
                    <div class="form-check ms-5 ">
                        <label class="form-check-label " for="flexRadioDefault1" >
                            หลักสูตรนี้ใช้งานสำหรับนักศึกษา <p class="d-inline bg-secondary text-light " id="year_text_down_01">2564</p>
                        </label>
                    </div>
                    
                <div class="form-check ms-5 my">
                       

                
                <!-- Modal -->
                <div class="modal fade" id="year-t-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">เปลี่ยนปีที่หลักสูตรใช้งาน</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <input type="email" class="form-control d-inline" id="input_year_change_text_01" 
                                aria-describedby="emailHelp" placeholder="ใส่ปีของหลักสูตร">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="click_year_change_text_01">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    </div>
                    
                </div>
            </div>
            <!-- ---------------------วิชาบังคับ------------------------ -->
            <div class="" id="c2_01">
                <div class="form-group">
                    <label for="exampleInputEmail1" >
                        <h3>วิชาบังคับ</h3>
                    </label>
                    <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขเปลี่ยนแปลงหน่วยกิตที่ต้องผ่าน">
                    <small id="emailHelp" class="form-text text-muted d-inline">* หน่วยกิตขั้นต่ำที่ต้องผ่านในวิชาบังคับ</small>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-b-01">
                    + เพิ่มวิชา
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-b-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาบังคับ [+ เพิ่มวิชา]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา 6 หลัก">
                            
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-g-01">
                    + ตามกลุ่ม
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-g-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาบังคับ [+ ตามกลุ่ม]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>ชื่อกลุ่มวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ชื่อกลุ่มวิชา">
                            <p>รหัสวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา">

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- ---------------------วิชาเลือก------------------------ -->
            <div class="" id="c2_02">
                <div class="form-group">
                    <label for="exampleInputEmail1" >
                        <h3>วิชาเลือก</h3>
                    </label>
                    <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขเปลี่ยนแปลงหน่วยกิตที่ต้องผ่าน">
                    <small id="emailHelp" class="form-text text-muted d-inline">* หน่วยกิตขั้นต่ำที่ต้องผ่านในวิชาบังคับ</small>
                </div>
                <!-- Button trigger modal -->
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-constrain-01">
                    + เงื่อนไข
                </button>
                <small  class="form-text text-muted d-inline">* เช่น หากมีเงื่อนที่นักศึกษาต้องผ่านวิชา 300 ไม่น้อยกว่า 6 หน่วยกิต</small>
                
                <!-- Modal -->
                <div class="modal fade" id="c-constrain-01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาเลือก [+ เงื่อนไข]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>รหัสวิชา 3 ตัวท้าย</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขรหัสวิชา 3 ตัวท้าย">
                            <p>หน่วยกิต</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ตัวเลขหน่วยกิต">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <br><br>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-b-02">
                    + เพิ่มวิชา
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-b-02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาเลือก [+ เพิ่มวิชา]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา 6 หลัก">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#c-g-02">
                    + ตามกลุ่ม
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="c-g-02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">วิชาเลือก [+ ตามกลุ่ม]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>ชื่อกลุ่มวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่ชื่อกลุ่มวิชา">
                            <p>รหัสวิชา</p>
                            <input type="email" class="form-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ใส่รหัสวิชา">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#c-b-01">
                + เพิ่มแขนง
            </button>
        </div>
        <br>
        
        
    </div>




    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
<script>
    // ใช้ Fetch API เพื่อดึงข้อมูลจาก API
    fetch('/api/course')
            .then(response => response.json())
            .then(data => {
                courses = data;
                createDropdown();
                data.forEach(item => {
                    console.log(item)
                });
            })
            .catch(error => {
                console.error('เกิดข้อผิดพลาดในการดึงข้อมูล:', error);
            });
        function reload_course_active(){
            fetch('/api/minor')
                .then(response => response.json())
                .then(data => {
                    
                    var displayTextElement2_c_show = document.getElementById("course_id_show");
                    // displayTextElement2_c_show.textContent = data[0]['minor_subject']['วิชาบังคับ']['มีวิชา'] ;

                    // เลือกตัวแปร div ที่คุณต้องการแสดงรายการ
                    // var listContainer = document.getElementById("course_id_show");

                    // ลูปรายการและสร้าง <div> แต่ละรายการพร้อมกับการกำหนดคลาส
                    console.log('dddddd ', data[0]['minor_subject']['วิชาบังคับ']['มีวิชา'])
                    data[0]['minor_subject']['วิชาบังคับ']['มีวิชา'].forEach(function(item) {
                        var itemDiv = document.createElement("div"); // สร้าง <div> สำหรับแต่ละรายการ
                        itemDiv.textContent = item; // กำหนดข้อมูลของรายการใน <div>
                        itemDiv.classList.add("border", "border-primary", "d-inline", "p-1"); // เพิ่มคลาสใน <div>
                        displayTextElement2_c_show.appendChild(itemDiv); // เพิ่ม <div> ลงในคอนเทนเนอร์
                    });


                    

                    var displayTextElement2_c_show_credit = document.getElementById("text_required_subject_credit_01");
                    displayTextElement2_c_show_credit.textContent = data[0]['minor_subject']['วิชาบังคับ']['หน่วยกิตขั้นต่ำ'] ;



                    
                    console.log("Minor ==> ", data)
                    console.log("Minor ==> ", typeof(data))

                    // data.forEach(item => {
                    //     console.log("Minor ==> ", item)
                    // });
                    // location.reload();
                })
                .catch(error => {
                    console.error('เกิดข้อผิดพลาดในการดึงข้อมูล:', error);
                });

        }
        
        reload_course_active()
        
    
//     function refreshText() {
//         var displayTextElement2_c_show = document.getElementById("course_id_show");
//         displayTextElement2_c_show.textContent = data[0]['minor_subject']['วิชาบังคับ']['มีวิชา'];
// }

    console.log('------mirno-------');
    // fetch('/api/minor')
    //         .then(response => response.json())
    //         .then(data => {
                
        





    //             data.forEach(item => {
    //                 console.log(item)
    //             });
    //         })
    //         .catch(error => {
    //             console.error('เกิดข้อผิดพลาดในการดึงข้อมูล:', error);
    //         });
            
    // ---------------------SCRIPT----------------------------
    $(document).ready(function () {
        $('input[type=radio]').change(function () {
            if ($('#rc1_01').is(':checked')) {
                $('#c1_01').show();
                $('#c1_02').hide();
            } else if($('#rc1_03').is(':checked')) {
                $('#c1_01').hide();
                $('#c1_02').show();
            }

            else {
                $('#c1_01').show();
                $('#c1_02').show();
            }
        });
    });

    $(document).ready(function () {
        $('input[type=radio]').change(function () {
            if ($('#rc2_01').is(':checked')) {
                $('#c2_01').show();
                $('#c2_02').hide();
            }else if($('#rc2_03').is(':checked')) {
                $('#c2_01').hide();
                $('#c2_02').show();
            } else {
                $('#c2_01').show();
                $('#c2_02').show();
            }
        });
    });


    $(document).ready(function () {
        $('input[type=radio]').change(function () {
            if ($('#rcr_01').is(':checked')) {
                $('#year_change_01').prop('disabled', true);
            } else {
                $('#year_change_01').prop('disabled', false);
                
            }
        });
    });

    $(document).ready(function () {
        $('input[type=radio]').change(function () {
            var text_year_all = ''
            var year_text_down_back = document.getElementById("year_change_text_01").textContent;
            var year_text_down_01 = document.getElementById("year_text_down_01");
            
            if ($('#rcr_01').is(':checked')) {
                
                $('#year_many_01').show();
                $('#year_many_02').hide();
            } else if ($('#rcr_02').is(':checked')) {
                text_year_all += "ก่อนปี "
                text_year_all += year_text_down_back;
                year_text_down_01.textContent = text_year_all;
                $('#year_many_01').show();
                $('#year_many_02').show();
            }else{
                text_year_all += "ก่อนปี "
                text_year_all += year_text_down_back;
                year_text_down_01.textContent = text_year_all;
                $('#year_many_01').show();
                $('#year_many_02').show();
            }
        });
    });



    // รับ reference ของ element input, button, และ element ข้อความ
    var inputElement = document.getElementById("input_year_change_text_01");
    var appendButton = document.getElementById("click_year_change_text_01");
    var displayTextElement1 = document.getElementById("year_change_text_01");
    var displayTextElement2 = document.getElementById("year_change_text_02");

    // เพิ่ม event listener เมื่อปุ่มถูกคลิก
    appendButton.addEventListener("click", function() {
        var inputValue = inputElement.value; // รับค่าที่ผู้ใช้ป้อน
        if (inputValue !== "") {
            // ตรวจสอบว่าค่าที่รับมาไม่ว่าง
            // และเพิ่มค่านั้นไปยัง element ข้อความ
            displayTextElement1.textContent = inputValue ;
            displayTextElement2.textContent = inputValue ;
            inputElement.value = ""; // เคลียร์ค่า input
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        // อ้างถึง input element
        var inputElement = document.getElementById('input_required_subject_credit_01');

        // อ้างถึง span element
        var spanElement = document.getElementById('text_required_subject_credit_01');

        // เพิ่ม event listener สำหรับ keypress ใน input element
        inputElement.addEventListener('keypress', function(e) {
            
            if (e.key === 'Enter') { // ตรวจสอบว่ากด Enter
                e.preventDefault(); // ไม่ให้ Enter ทำงานตามปกติ

                // เปลี่ยนค่าของ span เป็นค่าใน input
                console.log(typeof(parseInt(inputElement.value)))
                let number_c = parseInt(inputElement.value)
                if (number_c >= 0 && number_c <= 15){
                    console.log("1234")
                    var courseCode_credit_01 = inputElement.value;

                    // สร้างข้อมูลที่จะส่งไปยัง API
                    var data_01_credit = {
                        courseCredit: courseCode_credit_01
                    };

                    fetch('/api/saveCredit', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data_01_credit)
                        })
                        .then(response => response.json())
                        .then(result => {
                            console.log(result.message); // แสดงข้อความสำหรับการแจ้งเตือนผู้ใช้
                        })
                        .catch(error => {
                            console.error('เกิดข้อผิดพลาดในการบันทึกข้อมูล:', error);
                        });
                    spanElement.textContent = number_c;
                    
                }
                
            }
        });
    });


    function createDropdown() {
    var inputElement = document.getElementById('input_credit_b_01');
    var selectElement = document.createElement('courseSelect');
    
    // ใส่ select เป็นซ่อนเพื่อไม่ให้แสดงไว้ก่อน
    selectElement.style.display = 'none';
    
    // เมื่อ input ถูกคลิก
    inputElement.addEventListener('input', function() {






        // ลบรายการวิชาที่มีอยู่ใน select ทั้งหมด
        selectElement.innerHTML = '';

        // ค้นหาวิชาที่ตรงกับข้อมูลที่ผู้ใช้ใส่
        var inputText = inputElement.value.trim();
        var matchingCourses = courses.filter(function(course) {
            return course._id.includes(inputText);
        });

        // เพิ่มรายการวิชาลงใน select
        matchingCourses.forEach(function(course) {
            var optionElement = document.createElement('option');
            optionElement.value = course._id;
            optionElement.textContent =  course._id + " " + course.name_course;
            selectElement.appendChild(optionElement);
        });

        // แสดง select เพื่อให้ผู้ใช้เลือก
        selectElement.style.display = 'block';
    });

    // เมื่อรายการวิชาใน select ถูกเลือก
    selectElement.addEventListener('change', function() {
        // ตั้งค่าค่าใน input ให้เป็นรหัสวิชาที่เลือก
        inputElement.value = selectElement.value;

        // ซ่อน select อีกครั้ง
        selectElement.style.display = 'none';
    });

    // เพิ่ม select ลงใน DOM
    inputElement.parentNode.appendChild(selectElement);
}


var inputElement = document.getElementById('input_credit_b_01');



inputElement.addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
        // if (inputElement.value )
        let check_if_in = false
        fetch('/api/minor')
                .then(response => response.json())
                .then(data => {
                    
                    let have_course = data[0]['minor_subject']['วิชาบังคับ']['มีวิชา'];
                    console.log('datadata ==>', have_course);
                    console.log(inputElement.value, typeof(inputElement.value))
                    if (have_course == undefined){
                        check_if_in = false
                    }else if(have_course.includes(inputElement.value)){
                        
                        check_if_in = true
                        console.log('check_if_in ==>', check_if_in)
                    }
                    
                    


                    if (check_if_in){
                        



                        console.log('have มีขึ้นแดง')
                        document.getElementById("alert_course_put_b_01_not").style.display = "block";
                        
                        // หายไปหลังจากเวลาที่กำหนด (เช่น 5 วินาที)
                        setTimeout(function() {
                            document.getElementById("alert_course_put_b_01_not").style.display = "none";
                        }, 5000); // 5000 มิลลิวินาที (5 วินาที)
                    }
                    else{
                        fetch('/api/course')
                            .then(response => response.json())
                            .then(data => {

                                let list_course_id = [] 
                                console.log('data sdsdsd ==> ', data)
                                data.forEach(item => {
                                    console.log(item.id)
                                    list_course_id.push(item._id);
                                    
                                });
                                console.log('list_course_id ==>', list_course_id)

                                if (list_course_id.includes(inputElement.value)){
                                    
                                            console.log('ไม่have ขึ้นเขียวลงได้')
                                            document.getElementById("alert_course_put_b_01").style.display = "block";
                                            
                                            // หายไปหลังจากเวลาที่กำหนด (เช่น 5 วินาที)
                                            setTimeout(function() {
                                                document.getElementById("alert_course_put_b_01").style.display = "none";
                                            }, 5000); // 5000 มิลลิวินาที (5 วินาที)




                                            var courseCode = inputElement.value;

                                            // สร้างข้อมูลที่จะส่งไปยัง API
                                            var data = {
                                                courseCode: courseCode
                                            };

                                            fetch('/api/saveCourse', {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify(data)
                                            })
                                            .then(response => response.json())
                                            .then(result => {
                                                console.log(result.message); // แสดงข้อความสำหรับการแจ้งเตือนผู้ใช้
                                            })
                                            .catch(error => {
                                                console.error('เกิดข้อผิดพลาดในการบันทึกข้อมูล:', error);
                                            });

                                            inputElement.value = '';
                        
                                            //-----------------------------------------
                                            var displayTextElement2_c_show = document.getElementById("course_id_show");
                                            displayTextElement2_c_show.textContent = "";
                                            reload_course_active()




                                    console.log('check_if_in ==> มีวิชาอยู่ใน course ใส่ได้ เอาวิชาใส่')
                                }
                                // if(){

                                else{
                                    // เตือนว่าไม่มีวิชาในนี้
                                    document.getElementById("alert_course_put_b_02_not").style.display = "block";
                        
                                    // หายไปหลังจากเวลาที่กำหนด (เช่น 5 วินาที)
                                    setTimeout(function() {
                                        document.getElementById("alert_course_put_b_02_not").style.display = "none";
                                    }, 5000); // 5000 มิลลิวินาที (5 วินาที)


                                }
                                





                            })
                            .catch(error => {
                                console.error('เกิดข้อผิดพลาดในการดึงข้อมูล:', error);
                        });
                        



                    }

                    // data.forEach(item => {
                    //     console.log("Minor ==> ", item)
                    // });
                })
                .catch(error => {
                    console.error('เกิดข้อผิดพลาดในการดึงข้อมูล:', error);
                });

        

        
    }
});
</script>
</html>
